<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <title>APIA</title>
    </head>
<body>
        <div class="container">
                <div class="header clearfix">
                  <nav>
                    <ul class="nav nav-pills pull-right">
                      <li role="presentation"><a href="/">Dashboard</a></li>
                      {{#if user}}
                      <li role="presentation"><a href="/user/logout">Logout</a></li>
                      {{else}}
                        <li role="presentation"><a href="/user/login">Login</a></li>
                      <li role="presentation"><a href="/user/register">Register</a></li>                      
                      {{/if}}
                    </ul>
                  </nav>
                  <h3 class="text-muted">APIA</h3>
                </div>
          
                <div class="row">
                  <div class="col-lg-12">
                      {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                      {{/if}}

                    {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                      {{/if}}

                      {{#if error}}
                        <div class="alert alert-danger">{{error}}</div>
                      {{/if}}
                        {{{body}}}
                  </div>
          
                <footer class="footer">
                  <p>&copy; 2019 APIA, Inc.</p>
                </footer>
          
              </div>
</body>
</html>